---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Certificado de distribuidor
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
           

           <!--Imagen-->
           <div class="w-full md:w-1/2 lg:w-1/3">
                <img src="/images/certificado.jpg" alt="Texto alternativo de la imagen" class="mx-auto max-w-full h-auto rounded-lg shadow-lg" />
            </div>
           
           
        </div>
    </Container>
</section>
