---
import Container from "../shared/Container.astro";
---

<section class="relative mt-12 md:mt-16">
  <Container>
    <div
      class="mx-auto lg:mx-0 p-5 sm:p-6 py-6 sm:py-8 max-w-5xl rounded-3xl bg-box-bg border border-box-border shadow-lg  shadow-box-shadow md:divide-x divide-box-border grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-8 md:gap-6 lg:gap-12"
    >
      <div class="text-center">
        <p class="mt-2 text-xl">Vitamina A+</p>
      </div>

      <div class="text-center">
        <p class="mt-2 text-xl">Omega 6 y 9</p>
      </div>

      <div class="text-center">
        <p class="mt-2 text-xl">Formol 0%</p>
      </div>

      <div class="text-center">
        <p class="mt-2 text-xl">Alisado 100%</p>
      </div>
    </div>
  </Container>
</section>
